:root{
    --primary-color: #436e43;
    --secondary-color: #1b2c1b;
    --light-color:#EDE6CE;
    --hover-color:#6df99a;
    --trans: transparent;
    --gradient: linear-gradient(var(--secondary-color), var(--primary-color));
    --heading-font-family:'Genos', sans-serif;
    --default-font-family: 'Source Sans 3', sans-serif;
}

body{font-family: var(--default-font-family);}

h1,h2,h3,h4,h5 {
    font-family: var(--heading-font-family);
    color: white;
    font-weight: 200;
}
p,li,a {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
}

.pagetotal{background-color: var(--secondary-color);}

nav{
    background: #1b2c1b;
    padding:20px;
}

nav ul{
    margin: 0;
    padding:0;
}

nav li{
    display: inline;
    list-style: none;
    line-height: 30px;
    margin-left: 30px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav li.active a, nav a:hover{
    color: white;
    font-weight: bold;
    transition: all 150ms ease-in-out;
}

.logo{
    max-width: 60px;
    border-radius: 50%;
}

.contact-footer{
    background-color: var(--secondary-color);
	background-image:repeating-radial-gradient(
			circle at -0.3em 0.5em,
			var(--trans),
			var(--trans) 0.5em,
			var(--primary-color) 0.51em,
			var(--primary-color) 0.55em,
			var(--trans) 0.56em,
			var(--trans) 0.8em),
		repeating-radial-gradient(
			circle at 1.3em 0.5em,
			var(--trans),
			var(--trans) 0.5em,
			var(--primary-color) 0.51em,
			var(--primary-color) 0.55em,
			var(--trans) 0.56em,
			var(--trans) 0.8em),
		repeating-radial-gradient(
			circle at 1.05em 0.5em,
			var(--trans),
			var(--trans) 0.4em,
			var(--primary-color) 0.41em,
			var(--primary-color) 0.45em,
			var(--trans) 0.46em,
			var(--trans) 0.8em),
		repeating-radial-gradient(
			circle at 0.05em 0.5em,
			var(--trans),
			var(--trans) 0.4em,
			var(--primary-color) 0.41em,
			var(--primary-color) 0.45em,
			var(--trans) 0.46em,
			var(--trans) 0.8em),
		repeating-radial-gradient(
			circle at 0.95em 0.5em,
			var(--trans),
			var(--trans) 0.4em,
			var(--primary-color) 0.41em,
			var(--primary-color) 0.45em,
			var(--trans) 0.46em,
			var(--trans) 0.8em),
		repeating-radial-gradient(
			circle at -0.05em 0.5em,
			var(--trans),
			var(--trans) 0.4em,
			var(--primary-color) 0.41em,
			var(--primary-color) 0.45em,
			var(--trans) 0.46em,
			var(--trans) 0.8em);
	background-size: 1em 1em;
}

footer{
    margin:60px 0px 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .contact-box{
    background-color: var(--primary-color);
    padding: 40px 120px;
   max-width: 1100px;
   margin:0 auto 40px;
   border-radius: 10px;
}

footer .social-links a{
    color: white;
    margin:0px 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover{
    color:var(--light-color);
}

.hero{
    background: var(--gradient);
    text-align: center;
    padding: 100px 0px 160px;

}

.introduction{
    background: var(--gradient);
    text-align: center;
    padding: 160px 0px;
}

.work{
    background: var(--gradient);
    text-align: center;
    padding: 100px 0px 60px;
}

.contact{
    background: var(--gradient);
    text-align: center;
    padding: 100px 0px 60px;
}

.contact h3{font-weight: bold;}

.hero p{font-size: 32px;

}
.hero h1{    
    font-size: 96px;
}
.contact h1{font-size: 96px;}

.button{
    padding: 12px;
    border-radius: 10px;
    color: white;
    background-color: var(--secondary-color);
    text-decoration: none;
}

.button-negativ{
    padding:12px;
    border-radius: 10px;
    color: var(--secondary-color);
    background-color: var(--light-color);
    text-decoration: none;
}
.button:hover{font-weight: bold;
color: white;}
.button-negativ:hover{color: var(--secondary-color);
font-weight: bold;}

.projects-overview{
    background: var(--gradient);
    padding-bottom: 160px;
}
.project-container{
    max-width: 1100px;
    margin:0 auto;
}
.project-container h2{margin: 48px 0px 16px;}
.project-description{
    padding:40px 20px;
}

.introduction-container{ 
    max-width: 1100px;
    margin:0 auto;
}

.introduction-container h1{
    font-size: 72px;
}

.gallery{

    margin: 20px;
}

.gallery h2{
    margin-bottom: 40px;
}

.gallerycontainer > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallerycontainer > div > img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.gallerycontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    gap: 5px;
}

.gallerycontainer .horizontal{
    grid-column: span 2;
}

.gallerycontainer .vertical{
    grid-row: span 2;
}

.gallerycontainer .big{
    grid-column: span 2;
    grid-row: span 2;
}

.work h1{    
    font-size: 96px;
}

.service{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.work-overview{
    background: var(--gradient);
    padding-bottom: 160px;
}

.service li{background-color: transparent;
color: white;}

.card-background{background: var(--gradient);
border: none;}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cudos{
    margin-top: 80px;
    color: white;
    text-align: center;
}

.cudos a{
    color: white;
    text-decoration: none;
}

.cudos a:hover{
    color: white;
    text-decoration: underline;
}

@media (max-width:992px) {
    nav li{
        line-height: 20px;
        margin-left: 20px;
    }
    nav a{font-size: 14px;}
    
    .logo{
        max-width: 30px;
    }

    .hero,.introduction,.contact,.work{
        padding: 40px 0px;
    }
    .hero h1 {
        font-size: 80px;
        line-height: 1;
    }

    footer .contact-box{
        padding: 20px 20px;
        margin:10px 10px 20px;
    }

    .work h1 {
        font-size: 72px;
        line-height: 1;
        margin:0px 10px 8px;
    }
    .contact h1{
        font-size:72px;
        line-height: 1;
    }

    .project-description{
        padding:0;
        text-align: center;
    }
    .project-container h2{margin:16px 0px;}   
    .introduction-content{margin-bottom: 30px ;
    }
    .card{
        margin-bottom: 20px;
    }

}

