:root{
    --primary-color: #436e43;
    --secondary-color: #1b2c1b;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --gradient: linear-gradient(var(--secondary-color), var(--primary-color));
    --heading-font-family:'Genos', sans-serif;
    --default-font-family: 'Source Sans 3', sans-serif;
}

body{font-family: var(--default-font-family);}

h1,h2,h3,h4,h5 {
    font-family: var(--heading-font-family);
    color: white;
    font-weight: 900;
}
p,li,a {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
}

.hero{
    background: var(--gradient);
    text-align: center;
    padding: 160px 0px;
}
.introduction{
    background: var(--gradient);
    text-align: center;
    padding: 160px 0px;
}

.work{
    background: var(--gradient);
    text-align: center;
    padding: 160px 0px;
}

.hero p{font-size: 32px;

}
.hero h1{    
    font-size: 96px;
}

.button{
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: var(--secondary-color);
    text-decoration: none;
}

.button-negativ{
    padding:15px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color);
    text-decoration: none;
}
.button:hover{color: var(--primary-color);}
.button-negativ:hover{color: var(--secondary-color);}

.projects-overview{
    background: var(--gradient);
    padding-bottom: 160px;
}
.project-container{
    max-width: 1100px;
    margin:0 auto;
}
.project-container h2{margin: 48px 0px 16px;}
.project-description{
    padding:40px 20px;
}

.introduction-container{ 
    max-width: 1100px;
    margin:0 auto;
}

.introduction-container h1{
    font-size: 72px;
}

.work h1{    
    font-size: 96px;
}

.service{width: 300px;
display: block;
margin: 0 auto;
}

.work-overview{
    background: var(--gradient);
    padding-bottom: 160px;
}

.service li{background-color: transparent;
color: white;}

.card-background{background: var(--gradient);
border: none;}

@media (max-width:992px) {
    .project-description{
        padding:0;
        text-align: center;
    }
    .project-container h2{margin:16px 0px;}   
    .introduction-content{margin-bottom: 30px ;}

}

